.wireframe,
.wireframe * {
  box-sizing: border-box;
}
.wireframe {
  
  height: 720px;
  position: relative;
  overflow: hidden;
}
.fondo-jo-jos {
  border-style: solid;
  border-color: #b12f2f;
  border-width: 1px;
  width: 2125px;
  height: 1085px;
  position: absolute;
  left: -846px;
  top: -183px;
  aspect-ratio: 2125/1085;
}
.festival-de-animaci-n {
  color: #f54696;
  text-align: left;
  font-family: "OleoScript-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 446px;
  top: 183px;
  width: px;
  height: 81px;
}
.rectangulo-borde-dorado-casillas {
  background: rgba(226, 123, 226, 0.62);
  border-radius: 30px;
  border-style: solid;
  border-color: #fedbac;
  border-width: 10px;
  width: 322px;
  height: 559px;
  position: absolute;
  left: 474px;
  top: 253px;
  box-shadow: 7px 7px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.giorno {
  width: 321px;
  height: 562px;
  position: absolute;
  left: 902px;
  top: 168px;
  object-fit: cover;
  aspect-ratio: 321/562;
}
.logo-jojos {
  width: 444px;
  height: 179px;
  position: absolute;
  left: 409px;
  top: 17px;
  object-fit: cover;
  aspect-ratio: 444/179;
}
.rectangulo-contacto {
  width: 234px;
  height: 101.43px;
  position: absolute;
  left: 524px;
  top: 413px;
}
.rectangle-7 {
  background: #e27be2;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.contacto {
  color: #ffffff;
  text-align: left;
  font-family: "OleoScript-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 15.81%;
  width: 84.19%;
  bottom: 49.38%;
  top: 19.72%;
  height: 30.9%;
}
.rectangulo-info {
  width: 234px;
  height: 101.43px;
  position: absolute;
  left: 523px;
  top: 287px;
}
.info {
  color: #ffffff;
  text-align: left;
  font-family: "OleoScript-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 15.81%;
  width: 84.19%;
  bottom: 49.38%;
  top: 19.72%;
  height: 30.9%;
}
.borde-dorado {
  background: rgba(217, 217, 217, 0);
  border-radius: 37px;
  border-style: solid;
  border-color: #fedbac;
  border-width: 9px;
  width: 1248px;
  height: 688px;
  position: absolute;
  left: 11px;
  top: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.jolyne {
  width: 398px;
  height: 1184px;
  position: absolute;
  left: -1px;
  top: 93px;
  object-fit: cover;
  aspect-ratio: 398/1184;
}
